<!-- web_app/templates/users.html -->

{% extends "bootstrap_layout.html" %}
{% set active_page = "users" %}

{% block title %}
    <title>Add a User</title>
{% endblock %}

{% block content %}

    <h2>Here are the current users within the database.</h2>
    <p>If the desired user is unavailable, please add add it using the form below.</p>

    {% if screen_names %}
        <ul>
        {% for name in screen_names %}
            <li>{{ name.screen_name }}</li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Users not found.</p>
    {% endif %}

    <form action="/users" method="POST">

        <label>Title:</label>
        <input type="text" name="screen_name" placeholder="JimGaffigan" value="JimGaffigan">

        <button>Submit</button>
    </form>

{% endblock %}